apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: ec-cli-main-ci
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: ec-cli-main-ci
    app.kubernetes.io/part-of: ec-main-ci
  name: ec-cli-main-ci
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: ec-cli-main-ci
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: ec-cli-main-ci
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rhtap-contract-tenant/ec-main-ci/ec-cli-main-ci@sha256:104423a7cb6a6a0add570723c3f32226a26dcf142fc7b438c7a19e36b0570c87
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
