apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: ec-cli-main-ci
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rhtap-contract-tenant/ec-main-ci/ec-cli-main-ci@sha256:501962e8c0c28ffde39208f454311025a92765ff1126f6bd029878aed459a4df
        name: container-image
        resources: {}
status: {}
