apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: ec-cli-main-ci
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rhtap-contract-tenant/ec-main-ci/ec-cli-main-ci@sha256:104423a7cb6a6a0add570723c3f32226a26dcf142fc7b438c7a19e36b0570c87
        name: container-image
        resources: {}
status: {}
